[Unit]
Description=Backup with restic on schedule

[Timer]
OnCalendar=Mon *-*-* 04:00
WakeSystem=true
Persistent=true

[Install]
WantedBy=timers.target
